*
{
    font-family: Verdana, sans-serif;
}

body
{
    background-color: #009900;
}

.right
{
  background-color:#990000;
  position: relative;
  float: right;
  display: inline;
  width: 50%;
}

h2,h3,p
{
    margin-left: 5px;
}

.left
{
    float: left;
    position: relative;
    background-color:#66ffff;
    width: 50%;
    text-align:left;
    display:inline;
}
#good
{
   position: relative;
   display: inline;
   margin-right: 20px;
   vertical-align: middle;
}

#head
{
    text-align:center;
    background-color:#000099;
}

#me
{
    height: 153px;
    width: 195px;
    display: inline;
    position: relative;
    vertical-align: middle;
    margin: 1px;
}

#city
{
    height: 250px;
    border:  5px dashed orange;
}

#head{
    border: 1px dashed orange;
}


h1
{
    color: Orange;
}

ul
{
    list-style: square;
}
    
